<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">
    <title>Hello <%=user.username%></title>
</head>

<body>
    <header class="header">
        <h1>Dashboard</h1>
        <nav>
            <a href="/new" style="border-right: 2px solid white; width: 100px; color: white;">Add</a>
            <a href="/logout" style="width: 100px; color: white;">Logout</a>
        </nav>
    </header>
    <div class="topLine">
        <div class="filters">
            <a href="/dashboard" style="border-right: 2px solid black; width: 100px;">All</a>
            <a href="/dashboard/dessert" style="border-right: 2px solid black; width: 100px;"> Dessert</a>
            <a href="/dashboard/veggie" style="width: 125px;">Vegetarian</a>
        </div>

    </div>
    <div class="container">

        <div class="recipes">
            <%for (let i = 0; i < 6; i++) {%>
            <%if(i % 2 == 0){%>
            <div id="id<%=i%>" class="recipe-block">
                <div class="imgDiv">
                    <img src="<%=recipes[i].img%>" class="dashImg">
                </div>
                <div class="textDiv">
                    <a href="/recipe/<%=recipes[i]._id%>">
                        <h2><%=recipes[i].title%></h2>
                    </a>
                    <%if (recipes[i].extLink != "") {%>
                    <p>
                        Courtesy of:
                        <a href="<%=recipes[i].extLink%>"> <%=recipes[i].linkName || recipes[i].extLink%></a>
                    </p>
                    <%}%>    
                        <p><%=recipes[i].description%></p>
                    <p>Uploaded by <%=recipes[i].user.username%></p>
                    <button>View Recipe</button>
                </div>
            </div>
            <%} else {%>
            <div id="id<%=i%>" class="recipe-block">
                <div class="textDiv">
                    <a href="/recipe/<%=recipes[i]._id%>">
                        <h2><%=recipes[i].title%></h2>
                    </a>
                    <%if (recipes[i].extLink != "") {%>
                    <p>
                        Courtesy of:
                        <a href="<%=recipes[i].extLink%>"> <%=recipes[i].linkName || recipes[i].extLink%></a>
                    </p>
                    <%}%>    
                            <p><%=recipes[i].description%></p>
                    <p>Uploaded by <%=recipes[i].user.username%></p>
                    <button>View Recipe</button>
                </div>
                <div class="imgDiv">
                    <img src="<%=recipes[i].img%>" class="dashImg">
                </div>
            </div>
            <%}%>
            <%}%>
        </div>
    </div>
</body>

</html>