<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>New Recipe</title>
</head>

<body>
    <header>
        <h1>Edit Recipe</h1>
        <nav>
            <a href="/new">add recipe</a>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <div class="container">
        <form action="/recipe/<%=r._id%>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="left-side">
                <h1>
                    <input type="text" name="title" value="<%=r.title%>" style="width: 500px;">
                </h1>
                <label>Choose Meal Type
                    <select name="mealType">
                        <option>None</option>
                        <option>Breakfast</option>
                        <option>Lunch</option>
                        <option>Dinner</option>
                        <option>Dessert</option>
                        <option>Snack</option>
                        <option>Other</option>
                    </select>
                </label>
                <label>Dietary Restrictions
                    <select name="restrictions">
                        <option>None</option>
                        <option>Vegan</option>
                        <option>Vegetarian</option>
                        <option>Gluten Free</option>
                        <option>Other</option>
                    </select>
                </label>
                <p>Courtesy of:</p>
                Link <input type="text" name="extLink" value="<%=r.extLink%>"><br>
                Company Name <input type="text" name="linkName" value="<%=r.linkName%>"><br>
                <img src="/<%= r.img %>" style="width: 350px;"><br>
                <a href="/recipe/<%=r._id%>/image">Update Image</a>
                
                <h4>DESCRIPTION</h4>
                <textarea name="description" id="" cols="30" rows="5"><%= r.description %></textarea>
                <p>PREPTIME
                    <input type="text" name="prepTime" value="<%=r.prepTime%>">
                </p>
                <p>COOKTIME
                    <input type="text" name="cookTime" value="<%=r.cookTime%>">
                </p>
            </div>
            <div class="right-side">
                <h3>INGREDIENTS</h3>
                <ul id="inputList">
                <%r.ingredients.forEach((ingredient, i) => {%>
                    <div class="<%=i%>">
                    <%if(i == 0){%>
                        <textarea name="ingredients" id="" cols="30" rows="4"><%= ingredient %></textarea>
                    <%} else {%>
                        <textarea name="ingredients" id="" cols="30" rows="4"><%= ingredient %></textarea>
                        <button type="button" id="remove">Remove</button>
                    <%}%>
                    </div>              
                <%})%>
                </ul>
                <script>
                    function addToList() {
                        // grab and create elements
                        let ul = document.getElementById('inputList');
                        let newDiv = document.createElement('div');
                        let newItem = document.createElement('textarea');
                        let newButton = document.createElement('button')
                        // append elements
                        ul.appendChild(newDiv)
                        newDiv.appendChild(newItem);
                        newDiv.appendChild(newButton)
                        // set attributes
                        newButton.setAttribute('type', 'button');                       
                        newButton.innerHTML = 'Remove';
                        newButton.setAttribute('id', 'remove');
                        newItem.setAttribute('id', 'removeMe');
                        newItem.setAttribute('cols', '30');
                        newItem.setAttribute('rows', '3');
                        newItem.setAttribute('name', 'ingredients');
                    }
                    </script>
                <script>
                    $(document).ready(function () {
                        $(document).on('click', '#remove', function () {
                            $(this).closest('div').remove();
                        });
                    });
                </script>
                <button type="button" onclick="addToList()">Add Ingredient</button>
        
                <h3>STEPS</h3>
                <ul>
                <%r.steps.forEach((step, i) => {%>
                    <div class="<%=i%>" id="newStep">
                        <%if(i == 0){%>
                            <textarea name="steps" id="" cols="30" rows="8"><%= step %></textarea>
                        <%} else {%>
                            <textarea name="steps" id="" cols="30" rows="8"><%= step %></textarea>
                            <button type="button" id="remove">Remove</button>
                        <%}%>
                    </div>
                <%})%>
                </ul>
                <script>
                    function addStep() {
                        // grab and create elements
                        let ul = document.getElementById('newStep');
                        let newDiv = document.createElement('div');
                        let newItem = document.createElement('textarea');
                        let newButton = document.createElement('button')
                        // append elements
                        ul.appendChild(newDiv)
                        newDiv.appendChild(newItem);
                        newDiv.appendChild(newButton)
                        // set attributes
                        newButton.setAttribute('type', 'button');                       
                        newButton.innerHTML = 'Remove';
                        newButton.setAttribute('id', 'remove');
                        newItem.setAttribute('id', 'removeMe');
                        newItem.setAttribute('cols', '30');
                        newItem.setAttribute('rows', '3');
                        newItem.setAttribute('name', 'steps');
                    }
                    </script>
                    <script>
                        $(document).ready(function () {
                            $(document).on('click', '#remove', function () {
                                $(this).closest('div').remove();
                            });
                        });
                        </script>
                
                <button type="button" onclick="addStep()">Add Step</button>
            </div>
            <input type="submit" value="Save Changes">
        </form>
    </div>
</body>

</html>