<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe</title>
</head>
<body>
        <header>
            <nav>
                <a href="/new">add recipe</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/logout">Logout</a>
            </nav>
        </header>
        <div class="container">
            <div class="left-side">
                <h1><%= r.title %></h1>
                <img src="<%= r.imageURL%>" style="width: 350px;"><br>
                <%if (user == r.user) {%>
                    <a href="/recipe/<%=r._id%>/image">Update Image</a>
                <%}%>
                <%console.log(r.extLink == "not empty")%>
                <%if (r.extLink != "") {%>
                    <p>
                        Courtesy of:  
                        <a href="<%=r.extLink%>"> <%=r.linkName || r.extLink%></a>
                    </p>              
                <%}%>
                <p><%= r.description %></p>
                    <p>Prep time: <%= r.prepTime %> min</p>
                    <p>Cook time:  <%= r.cookTime %> min</p>
            </div>
            <div class="right-side">
                <h3>INGREDIENTS</h3>
                <ul>
                    <%for(let i = 0; i < r.ingredients.length; i++) {%>
                        <li><%=r.ingredients[i]%></li>
                    <%}%>
                </ul>
                <h3>STEPS</h3>
                <ul>
                    <%for(let i = 0; i < r.steps.length; i++) {%>
                        <li><%=r.steps[i]%></li>
                    <%}%>
                </ul>
            </div>
            <%if (user == r.user) {%>
            <a href="/recipe/<%=r._id%>/edit">EDIT RECIPE</a>
            <form action="/recipe/<%=r._id%>?_method=DELETE" method="POST">
                <input type="submit"value="DELETE RECIPE">
            </form>
            <%}%>
        </div>
</body>
</html>