<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">
    <title>New Recipe</title>
</head>
<body>
    <header class="header show">
        <div class="hat-div">
            <img class="chef-hat" src="/images/clipart16385.png" style="width: 55px;">
        </div>
        <div class="title">
            <h1>HomeCooked</h1>
        </div>
        <nav>
            <a href="/dashboard" style="border-right: 2px solid black; width: 150px; color: black;">Dashboard</a>
            <a href="/new" style="border-right: 2px solid black; width: 92px; color: black;">Add</a>
            <a href="/logout" style="width: 100px; color: black; margin-left: 10px;">Logout</a>
        </nav>
    </header>
        <div class="container-show">
            <div class="left-side-show">
                <div class="img-div">
                    <img src="<%= r.imageURL%>" style="width: 400px;" id="show-img"><br>
                </div>
                <%if (user == r.user) {%>
                    <a href="/recipe/<%=r._id%>/image" style="font-size: smaller;">Update Image</a>
                <%}%>
                <%if (r.extLink != "") {%>
                    <p>
                        Recipe from:  
                        <a href="<%=r.extLink%>"> <%=r.linkName || r.extLink%></a>
                    </p>              
                <%}%>
                    <p style="color: gray;">Prep time: <%= r.prepTime %> min</p>
                    <p style="color: gray;">Cook time:  <%= r.cookTime %> min</p>
                    
            </div>
            
                <div class="right-side-show">
                    <h2><%= r.title %></h2>
                    <p id="description" style="line-height: 25px;"><%= r.description %></p>
                    <div class="ingredients-div">
                        <h3>INGREDIENTS</h3>
                        <ul id="ingredient-list">
                            <%for(let i = 0; i < r.ingredients.length; i++) {%>
                                <li><%=r.ingredients[i]%></li>
                            <%}%>
                        </ul>
                    </div>
                    <div class="steps-div">
                        <h3>STEPS</h3>
                        <ul id="steps-list">
                            <%for(let i = 0; i < r.steps.length; i++) {%>
                                <li style="margin-bottom: 10px;"><%=r.steps[i]%></li>
                            <%}%>
                        </ul>
                    </div>
                <div class="edit-div">
                    <%if (user == r.user) {%>
                    <form action="/recipe/<%=r._id%>/edit">
                        <input type="submit" value="Edit" class="edit-delete" style="margin-right: 20px; color: gray; font-size: small;">
                    </form>
                    <form action="/recipe/<%=r._id%>?_method=DELETE" method="POST">
                        <input type="submit"value="Delete" class="edit-delete" style="color: gray; font-size: small;">
                    </form>
                    <%}%>

                </div>
            </div>
        </div>
        
</body>
</html>